@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  
}

.caneca {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  
}

.caneca-container {
  display: flex;
  
}
.caneca-texto{ 
    margin: 20px;
}
h4 {
    margin-bottom: 10px; 
    margin-left: 15px;
    font-size: 25px; 
    display: flex;
    justify-content: start;
    text-align: start;
}

.texto {
    margin-top: 0; 
    font-size: 17px; 
    color: #333; 
    width: 487px;
    margin: 15px;
    word-spacing: 10px;
}



.caneca-img {
  background-color: #c2c2c2;
}




